In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import re

Data = pd.read_csv('Datasets/nba_shotchartdetail_2018-19.csv')

Shots_Data = Data[['TEAM_ID','LOC_X','LOC_Y','SHOT_MADE_FLAG']]




Data.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,21800001,7,203496,Robert Covington,1610612755,Philadelphia 76ers,1,11,40,...,Center(C),24+ ft.,26,-53,264,1,0,20181016,BOS,PHI
1,Shot Chart Detail,21800001,10,1628369,Jayson Tatum,1610612738,Boston Celtics,1,11,15,...,Left Side Center(LC),24+ ft.,25,-148,207,1,0,20181016,BOS,PHI
2,Shot Chart Detail,21800001,14,1627759,Jaylen Brown,1610612738,Boston Celtics,1,11,3,...,Center(C),Less Than 8 ft.,1,4,18,1,0,20181016,BOS,PHI
3,Shot Chart Detail,21800001,17,203954,Joel Embiid,1610612755,Philadelphia 76ers,1,10,55,...,Center(C),Less Than 8 ft.,0,-8,3,1,1,20181016,BOS,PHI
4,Shot Chart Detail,21800001,19,1628369,Jayson Tatum,1610612738,Boston Celtics,1,10,36,...,Center(C),Less Than 8 ft.,4,-46,1,1,0,20181016,BOS,PHI

In [21]:
#Finding the shot zone

<ipython-input-21-e93b04369578>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shots_Data['shot_zone'] = Shots_Data.apply(shot_zone, axis = 1)

In [3]:
#Shots_Data.loc[(Shots_Data['LOC_X'] >= 22) | (Shots_Data['LOC_Y'] <= 7.8), "C"] = "C3"





Shots_Data['X'] = Shots_Data.LOC_X / 10
Shots_Data['Y'] = Shots_Data.LOC_Y / 10

Shots_Data["Team_ID"] = '1610612755'

/Users/macbookpro/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/macbookpro/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-3-42c5f7f7a2bd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shots_Data['X'] = Shots_Data.LOC_X / 10
<ipython-input-3-42c5f7f7a2bd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shots_Data['Y'] = Shots_Data.LOC_Y / 10
<ipython-input-3-42c5f7f7a2bd>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shots_Data["Team_ID"] = '1610612755'

In [59]:


shots_try = Shots_Data[['TEAM_ID','X','Y','SHOT_MADE_FLAG']]
shots_try.head()
#shots_try

df = pd.DataFrame(shots_try)

shots_try2 = shots_try[:3000]




final_shots = shots_try2.query('TEAM_ID == 1610612755 | TEAM_ID == 1610612738 ')




final_shots['X'] = abs(final_shots['X'])
final_shots['Y'] = abs(final_shots['Y'])

final_shots['Distance'] = ((((final_shots['X'] - 0)**2) + ((final_shots['Y'] - 0)**2)))** 0.5

final_shots




def zones(final_shots):
    if(final_shots['Distance'] >= 23.75 and final_shots['Y'] >= 7):
        return 'NC3'
    elif(final_shots['Distance'] >= 22 and final_shots['Y'] <= 7.8):
        return 'C3'
    else :
        return '2PT'
    
    
    
final_shots['zones'] = final_shots.apply(zones, axis = 1)

    

    
final_shots['zones'] = final_shots.apply(zones, axis = 1)

list_zones = final_shots['zones'].value_counts('percent')

<ipython-input-59-d41694b0d013>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_shots['X'] = abs(final_shots['X'])
<ipython-input-59-d41694b0d013>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_shots['Y'] = abs(final_shots['Y'])
<ipython-input-59-d41694b0d013>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_shots['Distance'] = ((((final_shots['X'] - 0)**2) + ((final_shots['Y'] - 0)**2)))** 0.5
<ipython-input-59-d41694b0d013>:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_shots['zones'] = final_shots.apply(zones, axis = 1)
<ipython-input-59-d41694b0d013>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_shots['zones'] = final_shots.apply(zones, axis = 1)

         TEAM_ID     X     Y  SHOT_MADE_FLAG   Distance zones
0     1610612755   5.3  26.4               0  26.926752   NC3
1     1610612738  14.8  20.7               0  25.446611   NC3
2     1610612738   0.4   1.8               0   1.843909   2PT
3     1610612755   0.8   0.3               1   0.854400   2PT
4     1610612738   4.6   0.1               0   4.601087   2PT
...          ...   ...   ...             ...        ...   ...
2521  1610612755   1.1   2.5               1   2.731300   2PT
2523  1610612755   0.3   0.7               1   0.761577   2PT
2525  1610612755   5.2  27.9               0  28.380451   NC3
2528  1610612755   0.3  20.2               1  20.202228   2PT
2529  1610612755   1.1  19.9               0  19.930379   2PT

[277 rows x 6 columns]

In [84]:
#counting points
def points_made(final_shots):
    if(final_shots['zones'] == '2PT') :
        return '2'
    else :
        return '3'

final_shots['points_made'] = final_shots.apply(points_made, axis = 1)

final_shots.head()


final_shots['points_made'].value_counts()


final_shots.head()

<ipython-input-84-67351df37057>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_shots['points_made'] = final_shots.apply(points_made, axis = 1)

      TEAM_ID     X     Y  SHOT_MADE_FLAG   Distance zones points_made
0  1610612755   5.3  26.4               0  26.926752   NC3           3
1  1610612738  14.8  20.7               0  25.446611   NC3           3
2  1610612738   0.4   1.8               0   1.843909   2PT           2
3  1610612755   0.8   0.3               1   0.854400   2PT           2
4  1610612738   4.6   0.1               0   4.601087   2PT           2

In [86]:
final_shots['zones'] = final_shots.apply(zones, axis = 1)

list_zones = final_shots['zones'].value_counts('percent')
 

    
    


team_a = final_shots.query('TEAM_ID == 1610612755')

team_b = final_shots.query('TEAM_ID == 1610612738')

    
#Shot distribution by team

Team_a_zones = team_a['zones'].value_counts('percent')
Team_b_zones = team_b['zones'].value_counts('percent')



for idx, name in enumerate(Team_b_zones.index.tolist()):
    print('Team A Shot zone:', Team_b_zones.index.tolist()[idx])
    print('Percentage:', Team_b_zones[idx] * 100)
    
for idx, name in enumerate(Team_a_zones.index.tolist()):
    print('Team b Shot zone:', Team_a_zones.index.tolist()[idx])
    print('Percentage:', Team_a_zones[idx] * 100)

Team A Shot zone: 2PT
Percentage: 61.855670103092784
Team A Shot zone: NC3
Percentage: 28.865979381443296
Team A Shot zone: C3
Percentage: 9.278350515463918
Team b Shot zone: 2PT
Percentage: 65.55555555555556
Team b Shot zone: NC3
Percentage: 32.77777777777778
Team b Shot zone: C3
Percentage: 1.6666666666666667

<ipython-input-86-a0a33d482ebb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_shots['zones'] = final_shots.apply(zones, axis = 1)

97

In [137]:
#field gopal attempts

FGA_team_a = team_a['points_made'].shape[0]
FGA_team_b= team_b['points_made'].shape[0]

#FGM_team_a = team_a['points_made'].value_counts()[1]
#FGM_team_b = team_b['points_made'].value_counts()[1]


#tables with field goals made


data_team_A_FGM = team_a.query('SHOT_MADE_FLAG == 1')
data_team_B_FGM = team_b.query('SHOT_MADE_FLAG == 1')

# FGM data for 2p zone

FGM_2PT_A = data_team_A_FGM['zones'].value_counts()[0]
FGM_NC3_A = data_team_A_FGM['zones'].value_counts()[1]
FGM_C3_A = data_team_A_FGM['zones'].value_counts()[2]

FGM_2PT_B = data_team_B_FGM['zones'].value_counts()[0]
FGM_NC3_B = data_team_B_FGM['zones'].value_counts()[1]
FGM_C3_B = data_team_B_FGM['zones'].value_counts()[2]

# field goal attempted data
FGA_2PT_A = team_a['zones'].value_counts()[0]
FGA_NC3_A =team_a['zones'].value_counts()[1]
FGA_C3_A = team_a['zones'].value_counts()[2]


print(team_a['zones'].value_counts())

print(data_team_A_FGM['zones'].value_counts())



FGM_count = data_team_A_FGM['zones'].value_counts()
FGA_count = team_a['zones'].value_counts()









0.5423728813559322

2PT    118
NC3     59
C3       3
Name: zones, dtype: int64
2PT    61
NC3    16
C3      1
Name: zones, dtype: int64

0.5423728813559322

In [139]:
#Effective feild goal percentage Team A

eFGP_2PTS = (FGM_count[0] + (0.5 * (3 * 2))) / FGA_count[0]

eFGP_2PTS

0.5423728813559322